*{
    margin :0;
}

#header{
    width: 100%;
    display:flex;
    background: beige;
    margin: 0;
    align-items: center;
}



.logo{
    padding:20px 50px;

    margin:0;
}

.title{
    flex-grow: 4;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    line-height: 42px;

}


#container{
    display:flex;
}

#sidebar{
    display:inline-block;
    width: 20%;
    background-color: lavender;
    height: 100vh;
}

#main{
    display: inline-block;
    width: 80%;
    background-color: white;
    height: 100vh;
}

label{
    display:block;
    margin:20px auto;
    text-align: center;
    padding:16px 6px;
    border : 1px solid black;

    width: 50%;
}